<nz-layout class="layout">
  <nz-header>
    <div class="logo">LiveBlog</div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>文章</li>
      <li nz-menu-item>相册</li>
      <li nz-menu-item>代码</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>首页</nz-breadcrumb-item>
      <nz-breadcrumb-item>文章</nz-breadcrumb-item>
      <nz-breadcrumb-item>Angular初探</nz-breadcrumb-item>
    </nz-breadcrumb>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>